<div class=post-content>
  <h2> Title: <%= @post.title %> <h2/>
  <br/>
  <p> Content: <%= @post.content %> <p/> <br>
  <p> Categories:<% @post.categories.each do |category| %>
    <%= category.name %>
  <% end %> <p/>
</div>

<% @post.comments.each do |comment| %>
  <%= comment.content %>
<% end %>

<% @post.users.distinct.each do |user| %>
  <%= link_to user.username, user_path(user) %>
<% end %>
