<h1><%= @post.title %></h1>
<h3>Categories:</h3>
<ul>
  <% @post.categories.each do |category| %>
    <li><%= category.name %></li>
  <% end %>
</ul>
<p><%= @post.content %></p>
<h3>Comments:</h3>
<ul>
<% @post.comments.each do |comment| %>
  <li><%= comment.user.username %> says: <%= comment.content %></li>
<% end %>
</ul>
<h3>Commenters:</h3>
<ul>
<% @post.users.distinct.each do |user| %>
  <li><%= user.username %></li>
<% end %>
</ul>
<h3>Add a Comment:</h3>
<%= form_for @comment do |f| %>
  <%= f.hidden_field :post_id, value: @post.id %>
  <%= f.label :content, "Enter Comment:" %>
  <%= f.text_field :content %><br>
  <%= f.label :user_id, "Select a user:" %>
  <%= f.collection_select :user_id, User.all, :id, :username, include_blank: true %><br>
  <%= f.fields_for :user_attributes do |user| %>
    <%= user.label :username, "Or create a new user:" %>
    <%= user.text_field :username %>
  <% end %><br>

  <%= f.submit "Create Comment" %>
<% end %>
